/* google font "manrope" import link  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* reset styles from elements */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
}

/* common or shared styles  */
body {
  font-family: "Manrope", serif;
  background-color: #f4f4f4;
}

.brand-mark {
  margin-bottom: 10px;
}

.brand-mark .arrow {
  color: #1c1c1c;
  font-size: 1.12rem;
  background-color: #abef5f;
  padding: 10px;
  transform: rotate(-45deg);
}
.search-btn,
.cart-btn {
  color: #737373;
  font-size: 1.125rem;
  background-color: #ffffff;
  padding: 12px;
}

/* header section styles  */
header {
  padding: 50px 0 100px;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

/* nav section style  */
nav .navbar-brand {
  color: #212121;
  font-size: 2rem;
}

.navbar-nav .nav-item .nav-link {
  color: #737373;
  font-size: 1.125rem;
}
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: #1c1c1c;
}

.navbar-btn-unit .booking-btn {
  color: #1c1c1c;
  font-size: 1.25rem;
  background-color: #abef5f;
}
.navbar-btn-unit .booking-btn .arrow {
  color: #ffffff;
  background-color: #1c1c1c;
}
