/* google font "manrope" import link  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* reset styles from elements */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
}

/* common or shared styles  */
body {
  font-family: "Manrope", serif;
  background-color: #f4f4f4;
}

.brand-mark {
  margin-bottom: 10px;
}

.brand-mark .arrow {
  color: #1c1c1c;
  font-size: 1.12rem;
  background-color: #abef5f;
  padding: 10px;
  transform: rotate(-45deg);
}
.search-btn,
.cart-btn {
  color: #737373;
  font-size: 1.125rem;
  background-color: #ffffff;
  padding: 12px;
}

.section-title {
  color: #212121;
  font-size: 2.5rem;
}

.section-description {
  color: #494949;
  font-size: 1.125rem;
  line-height: 26px;
  margin-top: 24px;
}

/* header section styles  */
header {
  padding: 50px 0 100px;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

/* nav section style  */
nav .navbar-brand {
  color: #212121;
  font-size: 2rem;
}

.navbar-nav .nav-item .nav-link {
  color: #737373;
  font-size: 1.125rem;
}
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: #1c1c1c;
}

.navbar-btn-unit .booking-btn {
  color: #1c1c1c;
  font-size: 1.25rem;
  background-color: #abef5f;
}
.navbar-btn-unit .booking-btn .brand-mark {
  margin-bottom: 0;
}
.navbar-btn-unit .booking-btn .arrow {
  color: #ffffff;
  background-color: #1c1c1c;
}

/* banner section styles  */
#banner {
  margin-top: 50px;
}

#banner .banner-title {
  color: #212121;
  font-size: 4rem;
  margin-bottom: 24px;
}

#banner .banner-description {
  width: 75%;
  margin: 0 auto 32px;
  color: #494949;
  font-size: 1.125rem;
  line-height: 26px;
}

#banner .view-btn {
  color: #212121;
  font-size: 20px;
  background-color: rgba(171, 239, 95, 0.5);
}

#banner .view-btn .brand-mark {
  margin-bottom: 0;
}

/* about us section styles  */
#about-us {
  padding-top: 100px;
}
#about-us .intro-btn {
  color: #494949;
  font-size: 1.125rem;
}

.business-description .card-body .card-title {
  color: #494949;
  font-size: 1.25rem;
  line-height: 26px;
}
.business-description .card-body .card-text {
  color: #737373;
  font-size: 1.125rem;
  line-height: 26px;
}

/* responsive styles for all devices  */
/* xs devices */
@media screen and (max-width: 575.98px) {
  /* header section styles  */
  header {
    padding: 32px 0 40px;
  }

  /* nav section style  */
  nav .navbar-brand {
    font-size: 1.75rem;
  }
  .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }

  /* banner section styles  */
  #banner {
    margin-top: 32px;
  }
  #banner .banner-title {
    font-size: 1.75rem;
    margin-bottom: 15px;
  }
  #banner .banner-description {
    width: 100%;
    margin: 0 auto 21px;
    font-size: 1rem;
    line-height: 24px;
  }

  #banner .view-btn {
    width: 100%;
    justify-content: center;
  }

  /* about-us section styles  */
  #about-us {
    padding-top: 40px;
  }
}

/* sm devices  */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  /* header section  */
  header {
    padding: 32px 0 40px;
  }

  /* nav section style  */
  nav .navbar-brand {
    font-size: 1.75rem;
  }
  .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }
  /* banner section styles  */
  #banner {
    margin-top: 32px;
  }
  #banner .banner-title {
    font-size: 1.75rem;
    margin-bottom: 15px;
  }
  #banner .banner-description {
    width: 100%;
    margin: 0 auto 21px;
    font-size: 1rem;
    line-height: 24px;
  }
  #banner .view-btn {
    width: 100%;
    justify-content: center;
  }

  /* about us section styles  */
  #about-us {
    padding-top: 40px;
  }
}

/* md devices  */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  /* header section  */
  header {
    padding: 40px 0 72px;
  }

  /* nav section style  */
  nav .navbar-brand {
    font-size: 1.75rem;
  }

  /* banner section styles  */
  #banner {
    margin-top: 48px;
  }
  #banner .banner-title {
    font-size: 2.25rem;
    margin-bottom: 18px;
  }
  #banner .banner-description {
    width: 95%;
    margin: 0 auto 25px;
  }

  /* about-us section styles  */
  #about-us {
    padding-top: 75px;
  }
}

/* lg devices  */
@media screen and (min-width: 992px) and (max-width: 1199.9px) {
}

/* xl devices  */
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
}

/* xxl devices  */
@media screen and (min-width: 1400px) {
}
